.git
**/.git
.env
__pycache__
app/__pycache__
app/**/__pycache__
app/src/__pycache__
**/__pycache__
**/__pycache__/
**/*.pyc
.pytest_cache
**/.pytest_cache
.DS_Store
**/.DS_Store
instance
**/instance
.dockerignore
.gitignore
gitignore.txt
.vscode
Dockerfile