/* base.css - contains styling for base template of website (headers, footers, etc.) */
/**
 * ========
 * Imported Fonts
 * ========
**/

/* Product Sans (Google's Logo Font) */
@font-face {
    font-family: "ProductSans";
    src: url("../vendor/fonts/ProductSans/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: "ProductSans";
    src: url("../vendor/fonts/ProductSans/Product\ Sans\ Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "ProductSansBold";
    src: url("../vendor/fonts/ProductSans/Product\ Sans\ Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "ProductSansBold";
    src: url("../vendor/fonts/ProductSans/Product\ Sans\ Bold\ Italic.ttf");
    font-style: italic;
    font-weight: bold;
}

/* Jeju Gothic (original font in design) */
@font-face {
    font-family: "JejuGothic";
    src: url("../vendor/fonts/JejuGothic/jejugothic-regular.ttf");
}

/* Nanum Gothic (fallback font) */
@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "NanumGothicBold";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Bold.ttf");
}

@font-face {
    font-family: "NanumGothicBolder";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-ExtraBold.ttf");
}

/**
 * ========
 * Variables
 * ========
**/

:root {
    /* Main Colours */
    --logo-clr: #5d6166;
    --auth-link-clr: #1a73e8;
    --auth-link-bg-clr: #e8f0fe;
    --main-link-clr: #5f6368;
    --main-link-hover-clr: #5F6368;
    --footer-link-clr: #959595;
    --footer-link-hover-clr: #525252;

    /* Font Families/Presets */
    --nav-link-font-family: "ProductSans";
    --logo-font-family: "ProductSans";
    --footer-font-family: "JejuGothic";

    --main-link-font: normal 500 17px/36px var(--logo-font-family);
    --auth-link-font: normal 500 17px/36px var(--logo-font-family);
    --logo-font: normal 300 23px / normal var(--logo-font-family);
    --footer-font: normal 400 15px / normal var(--footer-font-family);

    /* Animations & Transitions */
    --transition-ease: all 0.5s ease;
    --transition-navbar: all 0.25s ease;
}

/**
 * ========
 * General Styling
 * ========
**/

#header {
    display: flex;
    border-bottom: 1px solid rgb(216, 216, 216);
    box-shadow: 0px 0px 7px 3px rgba(41, 41, 41, 0.4);
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    margin-top: 0;
    padding: 0;
    vertical-align: middle;
    position: sticky;
    z-index: 500;

    transition: none;
}

#header .navbar {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    justify-content: space-between;
}

#footer {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 20px;
    z-index: 500;
}

#footer-socials {
    width: fit-content;
    margin: auto;
}

#footer-socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    padding: 10px;
    margin-right: 35px;
}

#footer-socials #socials-x {
    margin-right: 0;
}

.footer-break {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 50px;
}

#footer-menu {
    padding: 15px;
    max-width: 400px;
    width: auto;
    margin: auto;
}

#footer-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;

    padding: 5px;
}

#footer-menu .w-100 {
    padding: 0;
    margin: 0;
    height: 0;
}

#footer-menu a {
    font: var(--footer-font);
    color: var(--footer-link-clr);
    text-decoration: none;
    transition: var(--transition-ease);
}

#footer-menu a:hover {
    color: var(--footer-link-hover-clr);
    text-decoration: underline;
}

/**
 * ========
 * Navbar Logo Styling
 * ========
**/
.header-mobile {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 300px;
    /* transition: var(--transition-ease); */
}

#header-toggle span {
    transition: var(--transition-ease);
}

#header-logo {
    cursor: pointer;
}

#header-logo a {
    position: relative;
}

#header-logo-img {
    height: 32.5px;
    width: auto;
}

#header-logo-text {
    position: absolute;
    top: 9px;
    left: 80px;

    font: var(--logo-font);
    color: var(--logo-clr);
}

@media screen and (max-width: 992px) {
    .header-mobile {
        width: 100%;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    #header-logo-text {
        visibility: hidden;
    }
}

/**
 * ========
 * Navbar Links Styling
 * ========
**/

#header-content {
    /* width: 100%; */
    justify-content: space-between;
    margin-top: 5px;
    height: 42px !important;
}

#header-content a {
    text-decoration: none;
}

#content-body {
    justify-content: space-between;
}

/* Main nav link navbar elements */
.content-main {
    display: flex;
    width: fit-content;
}

.main-link {
    position: relative;
    padding: 2px 15px;
    margin-right: 5px;
    border-radius: 5px;

    color: var(--main-link-clr);
    font: var(--main-link-font);
    transition: all 0.1s linear;
    cursor: pointer;
}

.main-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: -8px;
    left: 0;

    /* background-color: transparent; */
    background-color: var(--main-link-hover-clr);
    transition: var(--transition-navbar);
    transform: scaleX(0);
}

.main-link:hover {
    color: var(--main-link-hover-clr);
}

.main-link:hover::after {
    transform: scaleX(1);
    background-color: var(--main-link-hover-clr);
}

/* Auth navbar elements - not logged in */
.auth-link {
    padding: 2px 10px;
    border-radius: 5px;

    color: var(--auth-link-clr);
    font: var(--auth-link-font);
    transition: all 0.1s linear;
    cursor: pointer;
}

.auth-link:hover {
    background-color: var(--auth-link-bg-clr);
    color: var(--auth-link-clr);
}

.content-auth-msg {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}

/**
 * ========
 * Profile Dropdown - appears only when logged in
 * ========
**/
.content-auth {
    display: flex;
    width: 230px;
    margin-top: -4px;
    /* margin-right: 50px; */
    justify-content: space-around;
    align-items: center;
}

.content-auth.is-new-user {
    width: 180px;
}

.auth-menu {
    position: relative;
    width: 100%;
    height: 46px;
    vertical-align: middle;
}

/* -- Dropdown btn -- */
.auth-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    height: 46px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    background-color: #FFFFFF;
    border: 1px solid #DADCE0;
    border-radius: 9px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.auth-dropdown:hover {
    background-color: #f1f1f1;
}

.auth-dropdown:active, .auth-dropdown.auth-menu-show {
    background-color: #e0e0e0;
}

.dropdown-left {
    display: flex;
    width: 100%;
    height: 46px;
    gap: 12px;
}

.dropdown-img {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 999px;
    background-color: #095140;   /* Find a way to randomize this */
    color: #FFFFFF;

    font-family: "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
}

.dropdown-span {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.dropdown-text {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    margin-top: -4px;
}

.dropdown-title {
    height: 14px;
    margin-bottom: 3px;

    font-family: 'ProductSansBold';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: #5F6368;
}

.dropdown-subtitle {
    height: 12px;

    font-family: 'NanumGothic';
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.01em;

    color: #5F6368;
}

img.dropdown-arrow {
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform 0.3s ease;
}

/* -- Dropdown menu contents -- */
.auth-menu-container {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 183px;
    height: fit-content;
    top: 41px;
    left: 0;

    background-color: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    transition: visibility 0.5s linear, top 0.25s ease, opacity 0.1s linear;
}

.auth-menu-break {
    width: 194px;  
    margin: 8px auto;  
}

.auth-menu-text {
    padding: 0 22px 5px;
    min-height: fit-content;
    height: auto;
}

.auth-menu-title {
    width: 100%;
    min-height: 16px;
    height: auto;
    margin-bottom: 2px;

    font-family: 'ProductSansBold';
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 20px;

    color: var(--main-link-clr);
}

.auth-menu-subtitle {
    width: 100%;
    min-height: 13px;
    height: auto;

    font-family: 'NanumGothic';
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 18px;

    color: var(--main-link-clr);
}

.auth-menu-group, .auth-menu-container > a {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
}

.auth-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    padding-left: 38px;

    font-family: 'ProductSans';
    font-style: normal;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.01em;
    
    color: #5F6368;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.auth-menu-item:hover {
    background-color: #F1F1F1;     /* #D9D9D9; */
}

.auth-menu-item:active {
    background-color: #e0e0e0;     /* #D9D9D9; */
}

.auth-menu-item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;

    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    left: 10px;
    top: 10px;
}

#auth-profile {
    margin-bottom: 8px;
}

#auth-profile::before {
    background-image: url("../vendor/images/base/profile-icon.png");
}

#auth-badge::before {
    background-image: url("../vendor/images/base/badge-icon.png");
}

#auth-sign-out::before {
    background-image: url("../vendor/images/base/sign-out-icon.png");
}

/* Dropdown menu toggle animation */
.auth-menu-container.auth-menu-show {
    visibility: visible;
    opacity: 1;
    top: 51px;
}

/**
 * ========
 * Navbar Mobile Offcanvas Styling
 * ========
**/

#sidebar-logo {
    padding-left: 10px;
    padding-top: 5px;
    font: var(--logo-font);
    color: var(--logo-clr);
}

#sidebar-btn-close {
    padding-top: 5px;
    padding-right: 20px;
}

.sidebar-break {
    display: none;
    width: 0;
    height: 0;
    align-self: center;
    margin: 0;
}

@media screen and (max-width: 991px) {
    #header-content {
        height: 100% !important;
        margin-top: 0;
        /* Added an opacity animation to prevent weird visual 
           glitch when shrinking page width to mobile menu view */
        animation: hideMobileGlitch 0.25s;
    }

    #header-content .content-main a {
        padding-bottom: 10px;
    }

    #content-body {
        position: relative;
        z-index: 999;
    }

    #content-body .content-main {
        display: flex;
        vertical-align: middle;
        margin-bottom: 5px;
        width: 100%;
    }

    #content-body .content-main a {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    #content-body .content-auth {
        position: absolute;
        bottom: 1rem;
        left: 0px;
        align-items: start;
        width: 100%;
        /* padding-left: 5px; */
    }

    #content-body .content-auth.is-new-user a {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .content-auth-msg {
        display: block;
        height: fit-content;
        width: fit-content;
        padding-left: 30px;
        margin-bottom: 15px;
    }

    .sidebar-break {
        display: block;
        width: 360px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .content-auth .sidebar-break {
        margin-bottom: 15px;
    }

    .main-link {
        border-radius: 5px;
    }

    .main-link::after {
        width: 0;
        height: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        bottom: 0;
        left: 0;

        /* background-color: transparent; */
        background-color: 0;
        transition: none;
        transform: none;
    }

    .main-link:hover {
        background-color: #eeeeee;
        color: var(--main-link-hover-clr);
    }

    .main-link:hover::after {
        transform: none;
        background-color: none;
    }

    /* -- Profile Menu (when in offcanvas/mobile view) -- */
    .auth-menu {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    img.dropdown-arrow {
        transform: scaleY(-1);
    }

    .auth-dropdown {
        background-color: #f8f9fa;
    }

    .auth-dropdown:hover {
        background-color: #f1f1f1;
    }

    .auth-dropdown:active, 
    .auth-dropdown.auth-menu-show {
        background-color: #e0e0e0;
    }

    .auth-menu-container {
        top: -238px;
        transition: visibility 0.5s linear, top 0.25s ease, opacity 0.1s linear;
    }

    .auth-menu-container.auth-menu-show {
        visibility: visible;
        opacity: 1;
        top: -248px;
    }

    .auth-menu-break {
        width: 327px;
    }
}

@keyframes hideMobileGlitch {
    from {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}