/**
 * ========
 * Variables
 * ========
**/

:root {
    /* Main Colours */
    --box-clr: rgba(222, 221, 221, 0.3);
    --bg-clr: #f8f8f8;
    --heading-clr: #5b83eb;
    --body-clr: rgba(0, 0, 0, 0.4);
    --body-hover-clr: rgba(0, 0, 0, 0.5);
    --border-clr: #afafaf;

    --textbox-txt-clr: #323232;
    --textbox-pl-clr: rgba(0, 0, 0, 0.6);
    --textbox-bg-clr: #ffffff;

    --btn-txt-clr: #f5f5f5;
    --btn-bg-clr: #5B83EB; /* rgba(91, 132, 235, 0.7);*/
    --btn-bg-hover-clr: rgba(91, 131, 235, 0.8);
    --btn-bg-disabled-clr: rgba(112, 151, 249, 0.45);

    --checkbox-clr: #d9d9d9;
    --link-clr: rgb(99, 138, 236);
    --link-hover-clr: rgba(91, 131, 235, 0.8);

    --error-txt-clr: rgba(222, 48, 48, 255);

    /* Font Families/Presets */
    --body-font-family: "JejuGothic", "NanumGothic";
    --heading-font-family: "JejuGothic", "NanumGothic";
    --error-font-family: "NanumGothic";

    --heading-font: normal 400 26px / normal var(--heading-font-family);
    --body-font: normal 400 18px / normal var(--body-font-family);
    --link-font: normal 00 15.4px / normal var(--body-font-family);
    --body-sub-font: normal 400 15px / normal var(--body-font-family);
    --error-font: normal 400 12px / normal var(--error-font-family);

    /* Borders & Shadows */
    --form-item-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    --btn-shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.4), 0px 4px 4px 0px rgba(0, 0, 0, 0.225) inset;
    --btn-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    --btn-disabled-border: 0.01px rgb(159, 159, 159) solid;
    --input-border: 0.5px black solid;
    --error-border: 0.4px red solid;
    --container-border: 1px solid var(--border-clr);
    --container-shadow: 0px 0px 0px 0.5px var(--border-clr);

    /* Transitions */
    --link-transition: all 0.2s ease;
    --underline-transition: transform 0.3s ease-out;
    --btn-transition-1: all 0.1s linear;
    --btn-transition-2: all 0.7s ease;
}

/**
 * ========
 * General Styling
 * ========
**/

html body {
    background-color: var(--bg-clr);
}


.body-text {
    font: var(--body-font);
}

main a {
    position: relative;
}

main a::after {
    background-color: var(--textbox-bg-clr);
    position: absolute;
    content: "";
    height: 1.5px;
    width: 100%;
    bottom: -2px;
    left: 0;

    transform: scaleX(0);
    transform-origin: bottom left;
    transition: var(--underline-transition);
}

main a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/**
 * ========
 * Specific Element Styling
 * ========
**/

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1380px;
    width: auto;
    min-height: 74px;
    height: fit-content;
    background-color: #fff;

    border: 2px solid #afafaf;
    border-top: 6px solid #5B83EB;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 9px 9px; 

    margin: 72px auto 30px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#heading h1 {
    font: normal 700 calc(30px * 0.9)/36px "ProductSans";
    color: #595959;
    margin-bottom: 0;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    margin: 0 40px;
}

#dashboard-container {
    max-width: 1380px;
    margin: 0 auto 80px auto;
    padding: 25px 40px;
    background-color: #fff;
    border: var(--container-border);
    box-shadow: var(--container-shadow);
    border-radius: 9px;
}

#dashboard-heading {
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 100px;
    padding: 7px 20px 10px;
    margin-bottom: 20px;
    /* background-color: var(--textbox-bg-clr); */

    background-color: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 9px;
    box-shadow: 0px 0px 0px 0.5px #afafaf, 3px 3px 0px #afafaf;
}

.points {
    display: inline-flex;
    align-items: center;
}

#points-logo-img {
    height: 25px;
    width: auto;
    margin-right: 5px;
}

.number-points {
    font: var(--body-font);
    color: #fff;
}

#dashboard-heading .number-points {
    color: var(--textbox-txt-clr)
}

#user-level {
    max-width: 476px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    /* margin-left: 100px; */
    padding-top: 10px;
}

#level-progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 476px;
}

#user-level label {
    font: var(--body-font);
    color: var(--textbox-txt-clr);
    margin-right: 20px;
    white-space: nowrap;
    flex-shrink: 0; 
}

#xp-space {
    width: 56.2px;
    margin-right: 20px;
}

#progress-bar {
    max-width: 400px;
    width: 100%;
    height: 15px;
    color: var(--heading-clr);
    border: none;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--checkbox-clr);
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: var(--heading-clr);
    transition: width 0.25s ease-in-out;
    border-radius: 10px;
}

#xp-container {
    display: flex;
    width: 100%;
}

#remaining-xp {
    width: 100%;
    text-align: center;
    font: var(--body-font);
    color: var(--textbox-txt-clr);
    margin-top: 10px;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 9px;
    box-shadow: 0px 0px 0px 0.5px #afafaf, 3px 3px 0px #afafaf;

    /* background-color: var(--box-clr);
    border-radius: 8px;
    box-shadow: var(--form-item-shadow); */
}

.card-body1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#left-side-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-body1 h4 {
    color: var(--heading-clr);
}

#unit-progress {
    margin-top: 10px;
}

#unit-number {
    font: var(--heading-font);
    color: var(--textbox-txt-clr);
}

#current-lesson {
    font-family: var(--heading-font-family);
    font-size: 24px;
    color: var(--textbox-txt-clr);
}

#circular-progress-bar {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: conic-gradient(
        var(--heading-clr) 0deg,
        var(--heading-clr) calc(50 * 3.6deg),
        #ddddff calc(50 * 3.6deg),
        #ddddff 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#inner-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
    background-color: var(--textbox-bg-clr);
}

#percentage {
    position: relative;
    font: var(--body-font);
    color: var(--textbox-txt-clr);
}

#continue-lesson {
    width: 125px;
    height: 40px;
    font: var(--body-font);
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--btn-transition-1);
}

#continue-lesson:hover {
    background-color: var(--btn-bg-hover-clr);
    box-shadow: var(--btn-shadow-2);
}

.card-body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-body2 h4 {
    color: var(--heading-clr);
}

#challenge-card-header {
    display: flex;
    align-items: center;
}

#challenge-icon-img {
    height: 25px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

.card-caption {
    font: var(--body-font);
    color: var(--textbox-txt-clr);
}

#challenge-button {
    width: 300px;
    display: block;
    font: var(--body-font);
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--btn-transition-1);
}

#challenge-button:hover {
    background-color: var(--btn-bg-hover-clr);
    box-shadow: var(--btn-shadow-2);
}

.button-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#challenge-question {
    font-family: var(--body-font-family);
    font-size: 22px;
    color: var(--btn-txt-clr);
    margin-top: 8px;
    margin-bottom: 15px;
}

#continue-quizzes-button {
    width: 300px;
    margin-top: 15px;
    display: block;
    font: var(--body-font);
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--btn-transition-1);
}

#continue-quizzes-button:hover {
    background-color: var(--btn-bg-hover-clr);
    box-shadow: var(--btn-shadow-2);
}

.button-content-left-align {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}

#quiz-information {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

#quiz-difficulty {
    margin-right: 35px;
}

.card-body3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-body3 h4 {
    color: var(--heading-clr);
}

#leaderboard-card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#view-leaderboard {
    width: 100px;
    height: 30px;
    font: var(--body-font);
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--btn-transition-1);
}

#view-leaderboard:hover {
    background-color: var(--btn-bg-hover-clr);
    box-shadow: var(--btn-shadow-2);
}

#leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.leaderboard-entry {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.leaderboard-rank {
    font: var(--body-font);
    color: var(--textbox-txt-clr);
    width: 50px;
}

.leaderboard-name {
    font: var(--body-font);
    color: var(--textbox-txt-clr);
    flex-grow: 1;
    margin-left: 70px;
}

.leaderboard-points {
    font: var(--body-font);
    color: var(--body-clr);
    white-space: nowrap;
}

#streak-tracker {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 10px;
    margin-top: 20px;
    background-color: #cbc3e3;
    border: 1px solid #afafaf;
    border-radius: 9px;
    box-shadow: 0px 0px 0px 0.5px #afafaf, 3px 3px 0px #afafaf;
}

#tracker-title {
    font: var(--body-font);
    color: var(--textbox-txt-clr);
    margin-bottom: 10px;
}

.month-labels {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    font: var(--body-sub-font);
    color: var(--textbox-txt-clr);
    width: 1165.5px;
    margin-bottom: 5px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(53, 1fr); 
    gap: 2px; 
    width: 1260px;
}

.week {
    display: grid;
    grid-template-rows: repeat(7, 1fr); 
    grid-row-gap: 2px;
}

.day {
    width: 20px; 
    height: 20px; 
    background-color: var(--textbox-bg-clr);
    border-radius: 4px;
    margin-bottom: 2px; 
}

.day.active {
    background-color: #32cd32; 
}

#activity-legend {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: space-around;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 5px;
}

#activity-label {
    font: var(--body-sub-font);
    color: var(--textbox-txt-clr);
    margin-right: 8px;
}

#current-streak {
    font: var(--body-sub-font);
    color: var(--textbox-txt-clr);
}

#longest-streak {
    font: var(--body-sub-font);
    color: var(--textbox-txt-clr);
}

/* Quiz Scores Section */
#quiz-scores-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 9px;
    box-shadow: 0px 0px 0px 0.5px #afafaf, 3px 3px 0px #afafaf;
}

#quiz-scores-section h2 {
    color: var(--heading-clr); 
    font-size: 1.5em; 
    margin-bottom: 10px;
}

.quiz-score-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
    border-bottom: 1px solid var(--textbox-pl-clr); 
    color: var(--body-clr); 
}

.quiz-score-item:last-child {
    border-bottom: none; 
}

.quiz-score-item .quiz-title {
    color: #000; 
    font-weight: bold;
}

.quiz-score-item .quiz-score {
    color: #000; 
    font-weight: normal;
}

@media screen and (max-width: 1420px) {
    #heading {
        margin: 72px 40px 30px;
    }

    #streak-tracker {
        overflow-x: scroll;
    }

    #dashboard-container {
        margin: 0 40px 80px 40px;
    }
}

@media screen and (max-width: 900px) {
    #dashboard-heading {
        gap: 40px;
        justify-content: space-evenly;
    }

    #cards-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@media screen and (max-width: 620px) {
    #xp-container {
        display: none;
    }
    
    #user-level {
        margin: auto;
        padding-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    #dashboard-container {
        transform: scale(0.8);
        margin: -140px 0 0 0;
    }

    #heading {
        margin-bottom: 20px;
    }

    #heading h1 {
        font-size: 20px;
        line-height: 22px;
        margin: 0 10px;
    }

    #circular-progress-bar {
        transform: scale(0.8);
    }

}