
/* -- Login form main styling -- */
#login-box {
    margin-top: 15vh;
}

#login-form {
    min-height: calc(275px * 0.85);
}

/* -- Login Extras Styling -- */ 
#login-extras {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: calc(44px * 0.85);
}

#login-forgot {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    font: var(--body-general-font);
    font-weight: 700;
    text-decoration-line: underline;

    color: var(--primary-clr);
}

#login-remember {
    display: flex;
    height: 100%;
    vertical-align: middle;
}

#form-remember {
    margin-top: auto;
    margin-bottom: auto;
}

#lbl-remember {
    width: 145px;
    height: 100%;
    margin-left: calc(8px * 0.85);

    font: var(--body-general-font);
    font-weight: 400;
    color: var(--body-clr);
}

/* -- Login errors -- */
#err-pass {
    margin-bottom: calc(29px * 0.85);
}

#err-pass.show-error {  
    margin-bottom: calc(25px * 0.85);
}