/**
 * ========
 * Imported Fonts
 * ========
**/

/* Jeju Gothic (original font in design) */
@font-face {
    font-family: "JejuGothic";
    src: url("../vendor/fonts/JejuGothic/jejugothic-regular.ttf");
}

/* Nanum Gothic (fallback font) */
@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-ExtraBold.ttf");
    font-weight: bolder;
}

/**
 * ========
 * Variables
 * ========
**/

:root {
    /* Main Colours */
    --box-clr: rgba(222, 221, 221, 0.3);
    --heading-clr: #5b83eb;
    --body-clr: rgba(0, 0, 0, 0.4);
    --body-hover-clr: rgba(0, 0, 0, 0.5);

    --textbox-txt-clr: #000000;
    --textbox-pl-clr: rgba(0, 0, 0, 0.6);
    --textbox-bg-clr: #ffffff;

    --btn-txt-clr: #f5f5f5;
    --btn-bg-clr: rgba(91, 132, 235, 0.7);
    --btn-bg-hover-clr: rgba(91, 131, 235, 0.8);
    --btn-bg-disabled-clr: rgba(112, 151, 249, 0.45);

    --checkbox-clr: #d9d9d9;
    --link-clr: rgb(99, 138, 236);
    --link-hover-clr: rgba(91, 131, 235, 0.8);

    --error-txt-clr: rgba(222, 48, 48, 255);

    /* Font Families/Presets */
    --body-font-family: "JejuGothic", "NanumGothic";
    --heading-font-family: "JejuGothic", "NanumGothic";
    --error-font-family: "NanumGothic";

    --heading-font: normal 400 26px / normal var(--heading-font-family);
    --body-font: normal 400 18px / normal var(--body-font-family);
    --link-font: normal 00 15.4px / normal var(--body-font-family);
    --body-sub-font: normal 400 15px / normal var(--body-font-family);
    --error-font: normal 400 12px / normal var(--error-font-family);

    /* Borders & Shadows */
    --form-item-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    --btn-shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.4), 0px 4px 4px 0px rgba(0, 0, 0, 0.225) inset;
    --btn-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    --btn-disabled-border: 0.01px rgb(159, 159, 159) solid;
    --input-border: 0.5px black solid;
    --error-border: 0.4px red solid;

    /* Transitions */
    --link-transition: all 0.2s ease;
    --underline-transition: transform 0.3s ease-out;
    --btn-transition-1: all 0.1s linear;
    --btn-transition-2: all 0.7s ease;
}

/**
 * ========
 * General Styling
 * ========
**/

.body-text {
    font: var(--body-font);
}

main a {
    position: relative;
}

main a::after {
    background-color: var(--textbox-bg-clr);
    position: absolute;
    content: "";
    height: 1.5px;
    width: 100%;
    bottom: -2px;
    left: 0;

    transform: scaleX(0);
    transform-origin: bottom left;
    transition: var(--underline-transition);
}

main a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/**
 * ========
 * Specific Element Styling
 * ========
**/
#heading {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
    margin-bottom: 20px;
}

#heading h1 {
    font: var(--heading-font);
    color: var(--heading-clr);
}

#quiz-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--box-clr);
}

#quiz-heading {
    display: flex;
    align-items: center;
}

#progress-container {
    border: 1px solid var(--textbox-bg-clr);
    background-color: var(--textbox-bg-clr);
}

.count-box {
    color: var(--textbox-txt-clr);
    padding: 8px;
    margin: 0;
    display: absolute;
}

#progress-bar {
    margin: 8px;
    height: 20px;
    width: 100px;
    color: var(--heading-clr);
    border: 2px solid black;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background: var(--heading-clr);
}

progress::-webkit-progress-bar {
    background: var(--checkbox-clr);
}

#questions-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    color: var(--heading-clr);
}

#quiz-questions {
    margin-top: 10px;
}

.question-block {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--textbox-bg-clr);
    flex-direction: column;
}

.question {
    margin-right: 10px;
    font-weight: bold;
}

/* Buttons */
.question-options {
    display: block;
    margin-left: 20px;
}

.question-options label {
    display: block;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 8px;
}

#quiz-form button {
    width: 100%;
    height: 38.4px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition-1);
    border: var(--btn-disabled-border);
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-disabled-clr);
    box-shadow: none;
}

#quiz-form button.clickable::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--btn-bg-hover-clr);
    transition: var(--btn-transition-2);
    transform: scaleX(0);
    box-shadow: var(--btn-shadow-1);
}

#quiz-form button.clickable:hover::before,
#quiz-form button.clickable:active::before {
    transform: scaleX(1);
    box-shadow: none;
}

#quiz-form button.clickable:active::before {
    box-shadow: var(--form-item-shadow);
}

#quiz-form button.clickable:active {
    box-shadow: var(--form-item-shadow);
}

#quiz-form button.clickable:active {
    transform: translateY(2px) scale(0.99);
}
