/* register.css - contains styling for the register page specifically, barring base elements */

/**
 * ========
 * Imported Fonts
 * ========
**/

/* Jeju Gothic (original font in design) */
@font-face {
    font-family: "JejuGothic";
    src: url("../vendor/fonts/JejuGothic/jejugothic-regular.ttf");
}

/* Nanum Gothic (fallback font) */
@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-ExtraBold.ttf");
    font-weight: bolder;
}

/**
 * ========
 * Variables
 * ========
**/

:root {
    /* Main Colours */
    --box-clr: rgba(222, 221, 221, 0.30);
    --heading-clr: #5B83EB;
    --body-clr: rgba(0, 0, 0, 0.40);
    --body-hover-clr: rgba(0, 0, 0, 0.50);
    
    --textbox-txt-clr: #000000;
    --textbox-pl-clr: rgba(0, 0, 0, 0.6);
    --textbox-bg-clr: #FFFFFF;

    --btn-txt-clr: #F5F5F5;
    --btn-bg-clr: rgba(91, 132, 235, 0.7);
    --btn-bg-hover-clr: rgba(91, 131, 235, 0.8);
    --btn-bg-disabled-clr: rgba(112, 151, 249, 0.45);

    --checkbox-clr: #D9D9D9;
    --link-clr: rgb(99, 138, 236);
    --link-hover-clr: rgba(91, 131, 235, 0.8);

    --error-txt-clr: rgba(222, 48, 48, 255);

    /* Font Families/Presets */
    --body-font-family: "JejuGothic", "NanumGothic";
    --heading-font-family: "JejuGothic", "NanumGothic";
    --error-font-family: "NanumGothic";

    --heading-font: normal 400 26px/normal var(--heading-font-family);
    --body-font: normal 400 18px/normal var(--body-font-family);
    --link-font: normal 00 15.4px/normal var(--body-font-family);
    --body-sub-font: normal 400 15px/normal var(--body-font-family);
    --error-font: normal 400 12px/normal var(--error-font-family);

    /* Borders & Shadows */
    --form-item-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    --btn-shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.4), 0px 4px 4px 0px rgba(0, 0, 0, 0.225) inset;
    --btn-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    
    --btn-disabled-border: 0.01px rgb(159, 159, 159) solid;
    --input-border: 0.5px black solid;
    --error-border: 0.4px red solid;

    /* Transitions */
    --link-transition: all 0.2s ease;
    --underline-transition: transform 0.3s ease-out;
    --btn-transition-1: all 0.1s linear;
    --btn-transition-2: all 0.7s ease;

}

/**
 * ========
 * General Styling
 * ========
**/

.body-text {
    font: var(--body-font);
}

input[type="password"],
input[type="text"],
#register-form .register-form-select,
.register-form-date {
    border-radius: 1px;
    margin: 0 0 15px 0; /* Adjust the bottom margin to your preferred value */    
}

input[type="password"] {
    -webkit-text-security: disc;
    font-family: Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 17.9px;

    padding-top: 2.5px;
}

main a {
    position: relative;
}

main a::after {
    background-color: var(--textbox-bg-clr);
    position: absolute;
    content: '';
    height: 1.5px;
    width: 100%;
    bottom: -2px;
    left: 0;

    transform: scaleX(0);
    transform-origin: bottom left;
    transition: var(--underline-transition);
}

main a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/**
 * ========
 * Specific Element Styling
 * ========
**/

#heading {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
    margin-bottom: 20px;
}

#heading h1 {
    font: var(--heading-font);
    color: var(--heading-clr);
}

#register-box {
    max-width: 425px;
    width: auto;
    min-height: 496px;
    height: fit-content;
    margin: auto;
    margin-bottom: 30px;
    padding: 28.8px 33.9px 33.3px 33.9px;

    background-color: var(--box-clr);
}

/* -- register Profile Styling -- */
#register-profile {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 147px;
    
    padding: auto;
    margin-bottom: 35px;
}

#register-profile img {
    margin: auto;
    width: auto;
    height: 90%;
}

@media screen and (max-width: 700px) {
    #heading {  
        margin-bottom: 20px;
    }
}

/* -- register Body Styling -- */
#register-body {
    width: 100%;
    height: 187.8px;
    margin-bottom: 38.4px;
}

.register-form-text,
.register-form-select {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 8.3px;
    padding-top: 5px;
    vertical-align: middle;

    color: var(--textbox-txt-clr);
    background-color: var(--textbox-bg-clr);
    box-shadow: var(--form-item-shadow);
}

.register-form-text:focus-visible,
.register-form-select:focus-visible {
    outline: var(--input-border);
}

.register-form-text::placeholder {
    vertical-align: middle;
    color: var(--textbox-pl-clr);
    font: var(--body-font);
    letter-spacing: normal;
}

#form-pwd::placeholder {
    padding-bottom: 10px;
}

/* Register Dropdown */
.register-form-select {
    padding-left: 8px;
    
    appearance: none;
    background-image: url("../vendor/images/login/select-arrow.png");
    background-repeat: no-repeat;
    background-position: right 12px top 11px;
    background-size: 16px;
}

.register-form-select option {
    font-size: 16px;
    color: var(--textbox-txt-clr);
}

.register-form-select:invalid {
    vertical-align: middle;
    color: var(--textbox-pl-clr);
    font: var(--body-font);
    letter-spacing: normal;
}

.register-form-date {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 8.3px;
    padding-top: 5px;
    vertical-align: middle;
    font: var(--body-font); /* Use the same font as other text input fields */
    color: var(--textbox-txt-clr);
    background-color: var(--textbox-bg-clr);
    box-shadow: var(--form-item-shadow);
}

.register-form-date::placeholder {
    vertical-align: middle;
    color: var(--textbox-pl-clr);
    font: var(--body-font); /* Use the same font as other text input fields */
    letter-spacing: normal;
}

.register-form-date::-webkit-calendar-picker-indicator {
    margin-right: 9px;

    /* Imitates "rgba(222, 221, 221, 0.30)" color through filters */
    filter: invert(40%) sepia(0%) saturate(1954%) hue-rotate(192deg) brightness(97%) contrast(92%);
}

.register-form-btn {
    width: 100%;  
    height: 38.4px; 
    padding-top: 3.2px;   
    margin-top: 20px;
    overflow: hidden;
    position: relative;

    z-index: 1;
    transition: var(--btn-transition-1);
    border: var(--btn-disabled-border);

    /* Placeholder value, change later */
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-disabled-clr);
    box-shadow: none;
}

/* Added to button when all fields are filled */
.clickable {
    cursor: pointer;
    border: none;
    color: var(--btn-txt-clr);
    background-color: var(--btn-bg-clr);
    /* box-shadow: var(--form-item-shadow); */
    box-shadow: var(--btn-shadow-2);
}

.register-form-btn.clickable::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;
    background-color: var(--btn-bg-hover-clr);
    transition: var(--btn-transition-2);
    transform: scaleX(0);
    box-shadow: var(--btn-shadow-1);
}

.register-form-btn.clickable:hover::before,
.register-form-btn.clickable:active::before {
    transform: scaleX(1);
    box-shadow: none;
}

.register-form-btn.clickable:active::before {
    box-shadow: var(--form-item-shadow);
}

.register-form-btn.clickable:active {
    box-shadow: var(--form-item-shadow);
}

.register-form-btn.clickable:active {
    transform: translateY(2px) scale(0.99);
}

#redirect-login,
#redirect-help {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;  
}

#redirect-login a,
#redirect-help a {
    font: var(--body-sub-font);
    color: var(--btn-bg-clr);
    text-decoration: none;
    transition: var(--link-transition);
}

#redirect-login a:hover,
#redirect-help a:hover {
    color: var(--link-hover-clr);
}

#redirect-login a::after,
#redirect-help a::after {
    background-color: var(--link-hover-clr);
    height: 1px;
}

@media screen and (max-width: 700px) {
    #redirect-login,
    #redirect-help {  
        margin-bottom: 0;
    }
}

#form-confirm-pwd {
    width: 100%;
    height: 35px;
    /* border: none; */
    padding-left: 8.3px;
    /* padding-top: 10px; Increase the top padding to create space */
    vertical-align: middle;

    color: var(--textbox-txt-clr);
    background-color: var(--textbox-bg-clr);
    box-shadow: var(--form-item-shadow);
}

input.register-form-text,
select.register-form-select,
#register-form .register-form-select {
    margin-top: 5px; /* Adjust the margin to control the space between text boxes */
}

/* -- Register Errors Styling -- */
.register-error {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;    
    vertical-align: middle;
}

.register-error * {
    display: none;
}

input.show-error,
select.show-error {         /* select.register-form-select */
    margin-bottom: 0;
    border: var(--error-border);
}

input.show-error:focus-visible,
select.show-error:focus-visible {
    outline: var(--error-border);   
}

.register-error.show-error {
    margin: 10px 0 15px 0;
}

.register-error.show-error * {
    display: block;
}

.error-img {
    position: relative;
}

.error-img img {
    position: absolute;
    width: 15px;
    height: 15px;
    overflow: hidden;
    top: -0.5px;

}

.error-msg {
    color: var(--error-txt-clr);
    font: var(--error-font);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    height: fit-content;
}
