/* user_profile.css - contains styling for the user profile page */

/* Imported Fonts */
@font-face {
    font-family: "JejuGothic";
    src: url("../vendor/fonts/JejuGothic/jejugothic-regular.ttf");
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "NanumGothic";
    src: url("../vendor/fonts/NanumGothicBold/NanumGothic-ExtraBold.ttf");
    font-weight: bolder;
}

/* Variables */
:root {
    /* Main Colours */
    --box-clr: rgba(222, 221, 221, 0.30);
    --heading-clr: #5B83EB;
    --body-clr: rgba(0, 0, 0, 0.40);
    --body-hover-clr: rgba(0, 0, 0, 0.50);
    --textbox-txt-clr: #000000;
    --textbox-text-pl-clr: rgba(0, 0, 0, 0.6);
    --textbox-bg-clr: #FFFFFF;
    --btn-txt-clr: #F5F5F5;
    --btn-bg-clr: rgba(91, 131, 235, 0.50);
    --btn-bg-hover-clr: rgba(91, 131, 235, 0.6);
    --checkbox-clr: #D9D9D9;
    --link-clr: rgb(99, 138, 236);
    --link-hover-clr: rgba(91, 131, 235, 0.8);

    --border-clr: #afafaf;

    /* Font Families/Presets */
    --body-font-family: "JejuGothic", "NanumGothic";
    --heading-font-family: "JejuGothic", "NanumGothic";
    --heading-font: normal 400 26px/normal var(--heading-font-family);
    --body-font: normal 400 18px/normal var(--body-font-family);
    --link-font: normal 00 15.4px/normal var(--body-font-family);
    --body-sub-font: normal 400 15px/normal var(--body-font-family);

    /* Borders & Shadows */
    --form-item-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    --btn-shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.4), 0px 4px 4px 0px rgba(0, 0, 0, 0.225) inset;
    --btn-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    --container-border: 1px solid var(--border-clr);
    --container-shadow: 0px 0px 0px 0.5px var(--border-clr);
    
    /* Transitions */
    --link-transition: all 0.2s ease;
    --underline-transition: transform 0.3s ease-out;
    --btn-transition-1: all 0.1s linear;
    --btn-transition-2: all 0.7s ease;
}


/**
 * ========
 * General Styling
 * ========
**/

.body-text {
    font: var(--body-font);
}

main a {
    position: relative;
}

main a::after {
    background-color: var(--textbox-bg-clr);
    position: absolute;
    content: '';
    height: 1.5px;
    width: 100%;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: var(--underline-transition);
}

main a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/**
 * ========
 * Specific Element Styling
 * ========
**/

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1149px;
    width: auto;
    min-height: 74px;
    height: fit-content;
    background-color: #fff;

    border: 2px solid #afafaf;
    border-top: 6px solid #5B83EB;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 9px 9px; 

    margin: 72px auto 30px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#heading h1 {
    font: normal 700 calc(30px * 0.9)/36px "ProductSans";
    color: #595959;
    margin-bottom: 0;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    margin: 0 40px;
}

#info-container {
    max-width: 1149px;
    margin: 0 auto 20px;
    padding: 41px 40px 30px;
    background-color: #fff;
    border: var(--container-border);
    box-shadow: var(--container-shadow);
    border-radius: 9px;
}

#info-container * {
    font-family: "ProductSans";
    letter-spacing: 0.8px;
    font-size: 18px;
}

#btn-container {
    display: block;
    height: 51px;
    max-width: 1149px;

    margin: 30px auto 100px auto;
}

#user-logout {
    font: normal 700 calc(22px * 0.85)/27px "ProductSans";
    height: 51px;
    border-radius: 10px;
    user-select: none;

    width: 100%;

    color: #595959;
    background-color: #ffffff;
    border: var(--container-border);
    box-shadow: var(--container-shadow);
    letter-spacing: 1px;

    cursor: pointer;
    transition: all 0.2s ease;
}

#user-logout:hover {
    background-color: #DEDEDE;
    transition: all 0.05s linear;
}

#user-logout:active {
    background-color: #C5C4C4;
}

@media screen and (max-width: 1400px) {
    #heading {
        margin: 72px 95px 30px;
    }

    #info-container {
        margin-left: 95px;
        margin-right: 95px;
    }

    #btn-container {
        margin: 30px 95px 100px;
    }
}

@media screen and (max-width: 450px) {
    #heading {
        transform: scale(0.8);
        margin: 72px auto 30px;
    }

    #info-container {
        transform: scale(0.8);
        margin: -50px auto 0;
    }

    #btn-container {
        margin: -20px auto 0;
        transform: scale(0.8);
    }
}
