{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 

{% block styling %}
<!-- Local stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %} 

{% block content %}
<main>
    <div id="heading">
        <h1>Welcome to your Dashboard, {{ current_user.username }}</h1>
    </div>

    <div id="dashboard-container">
        <div id="dashboard-heading">
            <div class="points">
                <!-- Replace with actual points count later, user points from model -->
                <img
                    id="points-logo-img"
                    src="../static/vendor/images/dashboard/points-logo.png"
                    alt=""
                />
                <span class="number-points">500</span>
            </div>
            <div id="user-level">
                <div id="level-progress-container">
                    <label for="progress-bar">Level 1</label>
                    <progress id="progress-bar" value="250" max="1000"></progress>
                </div>
                <p id="remaining-xp">750 more XP until next level!</p> 
            </div>
        </div>

        <div id="cards-container">
            <div class="card">
                <div class="card-body1">
                    <div id="left-side-content">
                        <h4>Learn</h4>
                        <div id="unit-progress">
                            <p id="unit-number">UNIT 1:</p>
                            <!-- replace with actual lesson progress -->
                            <p id="current-lesson">2/4</p>
                        </div>
                        <!-- <a href="{{ current_lesson_url }}" id="continue-lesson-link">
                            
                        </a> -->
                        <!-- put the button line inside the <a> tag above after we set up the dashboard route to send in 
                            the user's current lesson url (need to update the route in main.py/update models?) -->
                        <button id="continue-lesson">CONTINUE</button>
                    </div>
                    <div id="circular-progress-bar">
                        <!-- use inline style to set the progress value after setting up models to get percentage (create conic gradient here and not in css) -->
                        <div id="inner-circle"></div>
                        <!-- replace percentage with actual progress after -->
                        <p id="percentage">50%</p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body2">
                    <div id="challenge-card-header">
                        <h4>Daily Challenge</h4>
                        <img
                        id="challenge-icon-img"
                        src="../static/vendor/images/dashboard/challenge_icon.png"
                        alt=""
                        />
                    </div>
                    <p class="card-caption">Solve exciting daily challenges for points!</p>
                    <a id="challenge-button">
                        <div class="button-content">
                            <span class="button-content-text">Factors and Multiples</span>
                            <span id="challenge-question">Number of CDs in Box</span>
                            <div class="points">
                                <!-- Replace with actual points count later, user points from model -->
                                <img
                                    id="points-logo-img"
                                    src="../static/vendor/images/dashboard/points-logo.png"
                                    alt=""
                                />
                                <span class="number-points">1000</span>
                            </div>
                        </div>
                    </a>
                    <!-- add in href="{{ challenge_page_url }}" to the <a> tag after we set up the dashboard route to send in 
                        the daily challenge page url (need to update the route in main.py/update models?) -->
                    <!-- add in specific data using Jinja for the challenge topic, question, and points amount after -->
                </div>
            </div>
    
            <div class="card">
                <div class="card-body2">
                    <h4>Test Yourself!</h4>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4>Weekly Leaderboard</h4>
                </div>
            </div>
        </div>

        <div id="streak-tracker"></div>
    </div>
</main>
{% endblock %}
