{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 

{% block styling %}
<!-- Local stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %} 

{% block content %}
<main>
    <div id="heading">
        <h1>Welcome to your Dashboard, {{ current_user.username }}</h1>
    </div>

    <div id="dashboard-container">
        <div id="dashboard-heading">
            <div id="user-points">
                <!-- Replace with actual points count later, user points from model -->
                <img
                    id="points-logo-img"
                    src="../static/vendor/images/dashboard/points-logo.png"
                    alt=""
                />
                <span id="number-points">500</span>
            </div>
            <div id="user-level">
                <div id="level-progress-container">
                    <label for="progress-bar">Level 1</label>
                    <progress id="progress-bar" value="250" max="1000"></progress>
                </div>
                <p id="remaining-xp">750 more XP until next level!</p> 
            </div>
        </div>

        <div id="cards-container">
            <div class="card">
                <div class="card-body">
                    <h4>Learn</h4>
                    <div id="unit-progress">
                        <p id="unit-number">UNIT 1:</p>
                        <!-- replace with actual lesson progress -->
                        <p id="current-lesson">0/4</p>
                    </div>
                    <div id="circular-progress-bar">
                        <div id="inner-circle"></div>
                        <!-- replace percentage with actual progress after -->
                        <p id="percentage">0%</p>
                    </div>
                    <button id="continue-lesson">CONTINUE</button>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h4>Daily Challenge</h4>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4>Test Yourself!</h4>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <h4>Weekly Leaderboard</h4>
                </div>
            </div>
        </div>

        <div id="streak-tracker"></div>
    </div>
</main>
{% endblock %}
