{% extends "base.html" %}
{% block title %}Home - Gamified Learning Platform{% endblock %}
{% block styling %}
    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<main>
    <div id="section1">
        <div id="title-flex-container">
            <img src="../static/vendor/images/homepage/gdsc-left.png" alt="Image 1" class="title-image">
            <div id="title-description-container">
                <h1 id="title">Welcome to Our Gamified Learning Platform</h1>
                <p id="description">The McMaster GDSC team has developed a dynamic Gamified Learning Platform, offering students an interactive space to effortlessly learn and absorb new content</p>
            </div>
            <img src="../static/vendor/images/homepage/gdsc-right.png" alt="Image 2" class="title-image">
        </div>
    </div>
    <div id="section2">
    </div>
</main>


{% endblock %}

{% block scripts %}
    <!-- Insert local scripts here, if necessary -->
    <script src="../static/js/home.js"></script>
{% endblock %}