{% extends "base.html" %}
{% block title %}Home - Gamified Learning Platform{% endblock %}
{% block styling %}
    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<main>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome to our Gamified Learning Platform</h1>
            </div>
        </div>
    </body>
</main>
{% endblock %}

{% block scripts %}
    <!-- Insert local scripts here, if necessary -->
{% endblock %}