{% extends "base.html" %} {% block title %}Leaderboard{% endblock %} {% block styling %}
<!-- Local stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}" />
{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    const userPanel = document.getElementById("personal-info");
    const profileIconPage = userPanel.querySelector(".dropdown-img");
    
    let profileIconHeader = profileDropdown.querySelector(".dropdown-img");

    // User stats
    function userStats() {
        $.ajax({
            url: "/user_points",
            method: "GET",
            success: function (data) {
                $("#streakDisplay").text(data.streak);
                $("#pointsDisplay").text(data.points);
            },
            error: function (error) {
                console.error("Error fetching user stats:", error);
            },
        });
    }

    $(document).ready(function () {
        if (document.querySelector(".dropdown-subtitle").textContent.trim() == "Student") {
            userStats();

            // Update every minute
            setInterval(userStats, 60000);
        } else {
            userPanel.querySelector("#points").textContent = "Points: - -";
            userPanel.querySelector("#streak").textContent = "Streak: - -";
        }
    });

    window.addEventListener("DOMContentLoaded", () => {
        if (sessionStorage.getItem("signUpInfo") != null) {
            sessionStorage.removeItem("signUpInfo");
        }

        if (profileIconHeader != null) {
            profileIconPage.style.backgroundColor = profileIconHeader.style.backgroundColor   
        }
    })
    </script>
{% endblock %} 

{% block content %}
<main>
    <div id="heading">
        <h1>Leaderboard</h1>
    </div>

    <div id="leaderboard-section">
        <div id="personal-info">
            <div class="dropdown-img">
                <span>{{ current_user.username[0]|upper }}</span>
            </div>

            <h1 id="name">{{ name }}</h1>
            <h3 id="username">{{ username }}</h1>

            <div id="points-streak">
                <span id="points">Points: <span id="pointsDisplay"></span></span>
                <span id="streak">Streak: <span id="streakDisplay"></span></span>
            </div>

            {% if user_ranking is not none %}
            <h4 id="ranking">Ranking: {{ user_ranking }}</h4>
            {% else %}
            <p>You are not ranked yet.</p>
            {% endif %}
        </div>
        <div id="leaderboard-table-div">
            <table id="leaderboard-table">
                <thead>
                    <tr id="table-heading">
                        <th id="rank-heading">Rank</th>
                        <th id="username-heading">Username</th>
                        <th id="points-heading">Points</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                {% for entry in leaderboard_data %}
                    <tr class="table-entry" id="rank-{{ loop.index }}">
                        <td class="entry-ranking">#{{ loop.index }}</td>
                        <td class="entry-username">{{ entry.name }}</td>
                        <td class="entry-points">{{ entry.points.points }}</td>
                    </tr>
                    {% if loop.index == 3 and current_page == 1 %}
                    <tr class="table-entry" id="divider">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
