{% extends "base.html" %}
{% block title %}Login - Gamified Learning Platform{% endblock %}

{% block styling %}
    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div id="heading">
            <h1>Sign in to Your Account</h1>
        </div>

        <div id="login-box" class="container">

            <div id="login-profile">
                <img src="../static/vendor/images/login/blank-portrait.png" alt="">
            </div>

            <div id="login-body" class="container">
                <form id="login-form" action="/login" method="post">
                   
                    {% with errors = get_flashed_messages(with_categories = true) %}
                        {% if errors %}
                            {% for category, error in errors %}
                                {% if category == "error_email" %}
                                    <input class="login-form-text body-text show-error" type="text" name="email" id="login-form-user" placeholder="Email Address">        
                                    <div class="login-error show-error" id="err-email">
                                        <div class="error-img">
                                            <img src="../static/vendor/images/login/error-icon.png" alt="" srcset="">
                                        </div>
                                        <span class="error-msg">
                                            {{ error }}
                                        </span>
                                    </div>
                                {% else %}
                                    <input class="login-form-text body-text" type="text" name="email" id="login-form-user" placeholder="Email Address">        
                                    <div class="login-error" id="err-email"></div>
                                {% endif %}

                                {% if category == "error_pass" %}
                                    <input class="login-form-text show-error" type="password" name="password" id="login-form-pwd" placeholder="Password">
                                    <div class="login-error show-error" id="err-pass">
                                        
                                        <div class="error-img">
                                            <img src="../static/vendor/images/login/error-icon.png" alt="" srcset="">
                                        </div>
                                        <span class="error-msg">
                                            {{ error }}
                                        </span>              
                                    </div>
                                {% else %}
                                    <input class="login-form-text" type="password" name="password" id="login-form-pwd" placeholder="Password">
                                    <div class="login-error" id="err-pass"></div>
                                {% endif %}
                            {% endfor %}    
                            
                        {% else %}
                            <input class="login-form-text body-text" type="text" name="email" id="login-form-user" placeholder="Email Address">        
                            <div class="login-error" id="err-email"></div>

                            <input class="login-form-text" type="password" name="password" id="login-form-pwd" placeholder="Password">
                            <div class="login-error" id="err-pass"></div>
                        {% endif %}

                    {% endwith %} 

                    <button class="login-form-btn body-text" id="login-submit" type="submit" disabled>Sign in</button>
                </form>
            </div>

            <div id="login-extras" >
                <a id="login-forgot" class="body-text" href="/login.html">Forgot Password?</a>

                <span id="login-remember">
                    <input id="form-remember" type="checkbox" name="remember">
                    <label id="lbl-remember" for="remember">Remember me</label>
                </span>
            </div>

        </div>

        <div id="redirect-register">
            <a href="/register">Create a new account</a>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <!-- Insert local scripts here, if necessary -->
    <script src="../static/js/login.js"></script>
{% endblock %}