{% extends "base.html" %} 
{% block title %}Register - Gamified Learning Platform{% endblock %} 
{% block styling %}
    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authPage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerNew.css') }}" />
{% endblock %} 

{% block content %}
<main>
    <!-- Background fixed circles -->
    <div class="bg-circle" id="top-left-bg">
        <div class="circle-outline-outer" id="top-left-outer">
            <div class="circle-outline-inner" id="top-left-inner"></div>
        </div>
    </div>

    <div class="bg-circle" id="top-right-bg">           
        <div class="circle-wave-outer" id="top-right-2-outer">
            <div class="circle-wave-inner" id="top-right-2-inner"></div>
        </div>

        <div class="circle-normal" id="top-right-1"></div>
    </div>
    
    <div class="bg-circle" id="bottom-left-bg">
        <div class="circle-wave-outer" id="bottom-left-1-outer">
            <div class="circle-wave-inner" id="bottom-left-1-inner"></div>
        </div>

        <div class="circle-outline-outer" id="bottom-left-2-outer">
            <div class="circle-outline-inner" id="bottom-left-2-inner"></div>
        </div>
    </div>
    
    <div class="bg-circle" id="bottom-right-bg">
        <div class="circle-wave-outer" id="bottom-right-outer">
            <div class="circle-wave-inner" id="bottom-right-inner"></div>
        </div>
    </div>

    <div id="register-box" class="auth-box">

        <div id="heading" class="auth-heading">
            <img src="../static/vendor/images/login/gdsc-logo.png" alt="">
            <h1>Register Your Account</h1>
            <h3>Fill in the following to create an account.</h3>
        </div>

        <form id="register-form" class="auth-form" action="/register" method="post">
            <!-- If any errors occur, then they will be sent to this invisible div and interpreted by JS to insert relevant error msg HTML code/classes -->
            <div id="error-msg">
                {% with errors = get_flashed_messages(category_filter=["register_error"]) %} 
                    {% if errors %} 
                        {% for error in errors %} 
                            {{ error }} 
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
            </div>

            <input
                class="auth-form-text body-text"
                type="text"
                name="name"
                id="form-name"
                placeholder="Name"
            />
            <div class="auth-error" id="err-name"></div>

            <input
                class="auth-form-text body-text"
                type="text"
                name="username"
                id="form-username"
                placeholder="Username"
            />
            <div class="register-error" id="err-username"></div>

            <input
                class="auth-form-text register-form-date"
                type="text"
                name="date_of_birth"
                id="form-dob"
                placeholder="Date of Birth"
            />
            <!-- <input class="register-form-text body-text" type="text" name="grade" id="form-grade" placeholder="Grade"> -->

            <select class="register-form-select body-text" name="grade" id="form-grade" required>
                <option value="" id="select-placeholder" disabled selected hidden>Grade</option>
                <option value="FIRST">1st Grade</option>
                <option value="SECOND">2nd Grade</option>
                <option value="THIRD">3rd Grade</option>
                <option value="FOURTH">4th Grade</option>
                <option value="FIFTH">5th Grade</option>
                <option value="SIXTH">6th Grade</option>
                <option value="SEVENTH">7th Grade</option>
                <option value="EIGHTH">8th Grade</option>
                <option value="NINTH">9th Grade</option>
                <option value="TENTH">10th Grade</option>
                <option value="ELEVENTH">11th Grade</option>
                <option value="TWELFTH">12th Grade</option>
                <option value="FRESHMAN">University Freshman</option>
                <option value="SOPHOMORE">University Sophomore</option>
                <option value="JUNIOR">University Junior</option>
                <option value="SENIOR">University Senior</option>
                <option value="NA">Other</option>
            </select>

            <input
                class="auth-form-text body-text"
                type="text"
                name="email"
                id="form-email"
                placeholder="Email Address"
            />
            <div class="auth-error" id="err-email"></div>

            <input
                class="auth-form-text body-text"
                type="text"
                name="confirm_email"
                id="form-confirm-email"
                placeholder="Confirm Email"
            />
            <div class="auth-error" id="err-confirm-email"></div>

            <input
                class="auth-form-text"
                type="password"
                name="password"
                id="form-pwd"
                placeholder="Password"
            />
            <div class="auth-error" id="err-pass"></div>

            <input
                class="auth-form-text"
                type="password"
                name="confirm_password"
                id="form-confirm-pwd"
                placeholder="Confirm Password"
            />
            <div class="auth-error" id="err-confirm-pass"></div>

            <button class="auth-btn" id="register-submit" type="submit">
                Sign up
            </button>
        </form>
    </div>

    <div id="redirect-login" class="auth-redirect">
        <span>
            Already have an account? <a href="/login">Login here</a>
        </span>
    </div>

</main>
{% endblock %} 

{% block scripts %}
<script src="../static/js/register.js"></script>
{% endblock %}
