{% extends "base.html" %} {% block title %}User Profile - Gamified Learning Platform{% endblock %}
{% block styling %}
<!-- Local Stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}" />
{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    const infoPanel = document.getElementById("user-stats");
    
    // User stats
    function userStats() {
        $.ajax({
            url: "/user_points",
            method: "GET",
            success: function (data) {
                $("#streakDisplay").text(data.streak);
                $("#pointsDisplay").text(data.points);
            },
            error: function (error) {
                console.error("Error fetching user stats:", error);
            },
        });
    }

    $(document).ready(function () {
        if (document.querySelector(".dropdown-subtitle").textContent.trim() == "Student") {
            userStats();

            // Update every minute
            setInterval(userStats, 60000);
        } else {
            infoPanel.querySelector("#pointsDisplay").textContent = "- -";
            infoPanel.querySelector("#streakDisplay").textContent = "- -";
        }
    });

    window.addEventListener("DOMContentLoaded", () => {
        if (sessionStorage.getItem("signUpInfo") != null) {
            sessionStorage.removeItem("signUpInfo");
        }
    })
</script>
{% endblock %} {% block content %}
<main>
    <div id="heading">
        <h1>User Profile</h1>
    </div>

    <div id="info-container">
        <div id="user-info" class="container">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Age:</strong> {{ age }}</p>
            <p><strong>Grade:</strong> {{ grade }}</p>
            <p><strong>Email Address:</strong> {{ email }}</p>
        </div>
    
        <div id="user-stats" class="container">
            <p><strong>Streak:</strong> <span id="streakDisplay"></span></p>
            <p><strong>Points:</strong> <span id="pointsDisplay"></span></p>
        </div>
    </div>

    <a href="/logout" id="btn-container">
        <button id="user-logout">
            Log Out
        </button>
    </a>

</main>
{% endblock %}