{% extends "base.html" %} {% block title %}User Profile - Gamified Learning Platform{% endblock %}
{% block styling %}
<!-- Local Stylesheets -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
{% endblock %} {% block scripts %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // User stats
    function userStats() {
        $.ajax({
            url: "/user_stats",
            method: "GET",
            success: function (data) {
                $("#streakDisplay").text(data.streak);
                $("#pointsDisplay").text(data.points);
            },
            error: function (error) {
                console.error("Error fetching user stats:", error);
            },
        });
    }

    $(document).ready(function () {
        userStats();

        // Update every 10 seconds
        setInterval(userStats, 10000);
    });
</script>
{% endblock %} {% block content %}
<main>
    <div id="heading">
        <h1>User Profile</h1>
    </div>

    <div id="user-info" class="container">
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Username:</strong> {{ username }}</p>
        <p><strong>Date of Birth:</strong> {{ date_of_birth }}</p>
        <p><strong>Grade:</strong> {{ grade }}</p>
        <p><strong>Email Address:</strong> {{ email }}</p>
    </div>

        <div id="user-info" class="container">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Age:</strong> {{ age }}</p>   <!-- Tentative change, as age is stored in the database instead of DoB -->
            <!-- <p><strong>Date of Birth:</strong> {{ date_of_birth }}</p> -->
            <p><strong>Grade:</strong> {{ grade }}</p>
            <p><strong>Email Address:</strong> {{ email }}</p>
        </div>

        <div id="user-stats" class="container">
            <p><strong>Streak:</strong> <span id="streakDisplay"></span></p>
            <p><strong>Points:</strong> <span id="pointsDisplay"></span></p>
        </div>

    <div id="user-logout">
        <a href="/login.html">Logout</a>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <!-- Insert local scripts here, if necessary -->
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            if (sessionStorage.includes("signUpInfo")) {
                sessionStorage.removeItem("signUpInfo");
            }
        })
    </script>
{% endblock %}