body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

.hello-world {
    font-size: 24px;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
}
